.product-item {
  width: 320px;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.product-item:hover {
  transform: scale(1.03);
}

.product-item img {
  width: 100%;
}
